{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Social care qualifications
      </h1>

                  <form action="other-qualifications" method="post" class="form">
      <div class="form-group">
        <fieldset>

          <legend>
            <p class="form-label-bold">Do they have a social care qualification?</p>
          </legend>

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="example-contact-by-email" type="radio" name="scqual" value="Yes" {{ checked('scqual','Yes') }}>
            <label for="example-contact-by-email">Yes</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="contact-by-email">

            <div class="form-group">
              <label class="form-label" for="quallevel">What level is the qualification?</label>
              <input class="form-control" id="quallevel" type="text" name="quallevel" value="{{ data['quallevel'] }}">
            </div>
          </div>

          <div class="multiple-choice" data-target="contact-by-phone">
            <input id="example-contact-by-phone" type="radio" name="scqual" value="No" {{ checked('scqual','No') }}>
            <label for="example-contact-by-phone">No</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="example-contact-by-text" type="radio" name="scqual" value="Don&#39;t know" {{ checked('scqual','Don&#39;t know') }}>
            <label for="example-contact-by-text">Don't know</label>
          </div>

        </fieldset>

      </div>

      <p><a href="#">Add a qualification</a></p>

      <button class="button" type="submit" value="continue">Save and continue</button>

    </form>

      <br>

      <p><a href="#">Save record</a></p>

    </div>
  </div>
</main>

{% endblock %}
