{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Record complete
        </h1>
      </div>

      <p>
        You've saved this record for your establishment.
      </p>
      <p>You can <a href="check-your-answers-page">view and edit this record</a> or <a href="index">return to the homepage</a>.</p>

    </div>
  </div>

</main>

{% endblock %}
