{% extends "layout.html" %}

{% block pageTitle %}
  Add your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "create-username",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add your details
      </h1>

      <form class="form" action="your-account" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="your-name">
            Your name
          </label>
          <input class="govuk-input govuk-input--width-20" id="your-name" name="your-name" type="text" value="{{ data['your-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="driving-licence-number">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="driving-licence-number" name="driving-licence-number" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="driving-licence-number">
            Phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="driving-licence-number" name="driving-licence-number" type="text">
        </div>

        <button type="submit" class="govuk-button" value="continue">
          Save and continue
        </button>

      </form>

    </div>
    <div class="govuk-grid-column-one-third" style="background-color:#f8f8f8">
      <h2 class="govuk-heading-m">
        User feedback
      </h2>

      <p>
        Users would input their own name as they are responsible for handling NMDS-SC data.
      </p> 

      <p>
        All contact details would be linked to the organisation e.g. work telephone.
      </p>



    </div>
  </div>
{% endblock %}
