{% extends "layout.html" %}

{% block pageTitle %}
  Awaiting approval
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "main-service",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h2 class="govuk-panel__title">
          Awaiting approval
        </h2>
        <div class="govuk-panel__body">
          You've submitted your establishment to the Skills for Care team.
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>
        We will send you a confirmation email when we have approved your establishment.
      </p>
      <p>
        This should be within 1 working day.
      </p>

    </div>
    <div class="govuk-grid-column-one-third" style="background-color:#f8f8f8">
      <h2 class="govuk-heading-m">
        User feedback
      </h2>

      <p>
       Participants are fine with waiting as they understand the care sector must be regulated. However, the non-user suggested this verification should have occurred after creating an account and not after committing time to add an establishment.
      </p>

      <p>
       Participants would want an email verfication to confirm that their approval is in progress.
      </p>

      <p>
       This procedure would disrupt their workflow. They would have set aside time to input NMDS-SC data and would have to reschedule - this may not be for several weeks.
      </p>

       <p>
       1 working day waiting time was fine with users, but they would have preferred to have known earlier and would have scheduled their work to accommodate the delay. 
      </p>


    </div>
  </div>
{% endblock %}
