{% extends "layout.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "../start-page",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Sign in to NMDS-SC
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="username">
          Username
        </label>
        <input class="govuk-input govuk-input--width-20" id="username" name="username" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Password
        </label>
        <input class="govuk-input govuk-input--width-20" id="password" name="password" type="text">
      </div>

      <button type="submit" class="govuk-button">
        Sign in
      </button>

      <p><a href="create-account">Don't have an account?</a></p>

    </div>

    <div class="govuk-grid-column-one-third" style="background-color:#f8f8f8">
      <h2 class="govuk-heading-m">
        User feedback
      </h2>


    </div>
  </div>
{% endblock %}
