{% extends "layout.html" %}

{% block pageTitle %}
  Your account
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "add-details",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        {{ data['your-name'] }}'s account
      </h1>

      <p>Welcome to your account page.</p>

      <p><a href="/">Edit your account details</a></p>

      <h2 class="govuk-heading-l">
        Your establishments
      </h2>

      <p>You don't have any establishments at the moment.</p>

      <p><a href="create-establishment">Add an establishment</a></p>



    </div>
    <div class="govuk-grid-column-one-third" style="background-color:#f8f8f8">
      <h2 class="govuk-heading-m">
        User feedback
      </h2>

      <p>
       All users were aware that they had created an account.
      </p>

      <p>
        One user suggested this process was too simple. Another suggested that at this point they would expect to receive a verification email to confirm they had set up an account.
      </p>

      <p>
        Users believed they had inputted basic details and could now begin inputting their establishment and workforce data.
      </p>

      <p>
        The 'add an establishment' link was obvious as the next point of navigation.
      </p>


    </div>
  </div>
{% endblock %}
