{% extends "layout.html" %}

{% block pageTitle %}
  Content page
{% endblock %}

{% from 'header/macro.njk' import govukHeader %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "/",
    "serviceName": "Data visualisation",
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "navigation": [
        {
        "href": "your-account",
        "text": "Your account"
        },
        {
        "href": "establishment-page",
        "text": "Your establishment"
        },
        {
        "href": "dashboard",
        "text": "Your dashboards",
        "active": true
        }
    ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Your dashboard
      </h1>

      <p><a href="#">Edit dashboard</a> | <a href="#">Create new dashboard</a> | <a href="#">Export dashboard</a></p>

    </div>
  </div>
{% endblock %}
