{% extends "layout.html" %}

{% block pageTitle %}
  Content page
{% endblock %}

{% from 'header/macro.njk' import govukHeader %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "/",
    "serviceName": "Data visualisation",
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "navigation": [
        {
        "href": "your-account",
        "text": "Your account"
        },
        {
        "href": "establishment-page",
        "text": "Your establishment"
        },
        {
        "href": "dashboard",
        "text": "Your data",
        "active": true
        }
    ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/url/of/previous/page",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Your data
      </h1>

      <h2 class="govuk-heading-l">
        Super Care Homes
      </h2>

      <div class="govuk-tabs govuk-!-margin-bottom-6" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="dashboard">
              Your dashboards
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#">
              Employers and staff
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#">
              Recruitment and retention
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#">
              Workforce demographics
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#">
              Pay
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#">
              Qualifications and training
            </a>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#">
                Local demand and intelligence
              </a>
          </li>
        </ul>
      </div>

      <p><a href="#">Edit dashboard</a> | <a href="#">Create new dashboard</a> | <a href="#">Export dashboard</a></p>

    </div>

    <div class="govuk-grid-column-one-half">

      <figure>
        <img src="https://farm1.staticflickr.com/923/42396963955_5c1ee853f3_b.jpg" style="width:100%; padding: 10px">
        <figcaption>Average hourly pay compared with other care homes in your area</figcaption>
      </figure>

      <figure>
        <img src="https://farm1.staticflickr.com/840/43252639892_b1ff6db39d_b.jpg" style="width:100%; padding: 10px">
        <figcaption>Average pay rate for care workers</figcaption>
      </figure>

    </div>

    <div class="govuk-grid-column-one-half">

      <figure>
        <img src="https://farm2.staticflickr.com/1830/29433494588_3ae416b997_b.jpg" style="width:100%; padding: 10px">
        <figcaption>Average number of days sickness compared with other local authorities</figcaption>
      </figure>

      <figure>
        <img src="https://farm2.staticflickr.com/1765/43306238891_d286f8d95d_b.jpg" style="width:100%; padding: 10px">
        <figcaption>Average turnover rate compared with other regions</figcaption>
      </figure>

    </div>
  </div>
{% endblock %}
