{% extends "layout.html" %}

{% block pageTitle %}
  Your establishment
{% endblock %}

{% from 'header/macro.njk' import govukHeader %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "/",
    "serviceName": "Data visualisation",
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "navigation": [
        {
        "href": "your-account",
        "text": "Your account"
        },
        {
        "href": "establishment-page",
        "text": "Your establishment",
        "active": true
        },
        {
        "href": "dashboard",
        "text": "Your data"
        }
    ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "your-account",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Super Care Homes
      </h1>

      <h2 class="govuk-heading-l">
        Worker records needing attention
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Job role</th>
            <th class="govuk-table__header" scope="col">Attention needed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Maximo Tyler</td>
            <td class="govuk-table__cell" scope="row">Care Worker</td>
            <td class="govuk-table__cell" scope="row"><a href="/records/workers/worker-123"><strong class="govuk-tag">Update</strong></a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Sonny Compton</td>
            <td class="govuk-table__cell" scope="row">Care Worker</td>
            <td class="govuk-table__cell" scope="row"><a href="/records/workers/worker-123"><strong class="govuk-tag">Update</strong></a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Alisson Wise</td>
            <td class="govuk-table__cell" scope="row">Occupational Therapist</td>
            <td class="govuk-table__cell" scope="row"><a href="/records/workers/worker-123"><strong class="govuk-tag">Update</strong></a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Adrianna Payne</td>
            <td class="govuk-table__cell" scope="row">Senior Care Worker</td>
            <td class="govuk-table__cell" scope="row"><a href="/records/workers/worker-123"><strong class="govuk-tag">Update</strong></a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Kadyn Friedman</td>
            <td class="govuk-table__cell" scope="row">Care Worker</td>
            <td class="govuk-table__cell" scope="row"><a href="/records/workers/worker-123"><strong class="govuk-tag">Update</strong></a></td>
          </tr>
          </tr>
        </tbody>
      </table>

      <p><a href="#">View more workers</a></p>

      <h2 class="govuk-heading-l">
        Worker data for this establishment
      </h2>

    </div>

    <div class="govuk-grid-column-one-third">
      <br>
      <p><a href="#">Edit establishment details</a></p>

    </div>

    <div class="govuk-grid-column-one-half">

      <p>
        <a href="dashboard">
          <img src="https://farm1.staticflickr.com/844/42601954224_8890ee239a_o.png" style="width: 100%; padding:5px 10px 12px 5px; border-right: 1px solid grey;">
        </a>
      </p>

      <hr>

      <p>
        <a href="dashboard">
          <img src="https://farm1.staticflickr.com/916/28450918097_c07ca65576_o.png" style="width: 100%; padding:5px 10px 5px 5px; border-right: 1px solid grey;">
        </a>
      </p>


      <p><a href="dashboard">View more data</a></p>

    </div>

    <div class="govuk-grid-column-one-half">

      <p>
        <a href="dashboard">
          <img src="https://farm1.staticflickr.com/919/42416025645_7d3553837f_o.png" alt="Your pay rate" style="width: 70%; padding:5px;">
        </a>
      </p>

      <hr>

      <p>
        <a href="add-another">
          <img src="https://farm1.staticflickr.com/834/43251286182_376c6ffc84_b.jpg" alt="add another" style="width: 35%; padding:75px 20px 20px 125px">
        </a>
      </p>

    </div>

  </div>
{% endblock %}
