{% extends "layout.html" %}

{% block pageTitle %}
  Your account
{% endblock %}

{% from 'header/macro.njk' import govukHeader %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "/",
    "serviceName": "Data visualisation",
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "navigation": [
        {
        "href": "your-account",
        "text": "Your account",
        "active": true
        },
        {
        "href": "establishment-page",
        "text": "Your establishment"
        },
        {
        "href": "dashboard",
        "text": "Your data"
        }
    ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "../index",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Your account
      </h1>

        <p>Welcome to your account page.</p>

        <p><a href="/">Edit your account details</a></p>

      <h2 class="govuk-heading-l">
        Your organisation
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"><a href="establishment-page">Super Care Homes</a></td>
            <td class="govuk-table__cell" scope="row">Care home with nursing</td>
            <td class="govuk-table__cell" scope="row"><a href="/records/workers/worker-123">Edit</a></td>
          </tr>
        </tbody>
      </table>

      <p>
        <a href="#">Add another</a>
      </p>

      <h2 class="govuk-heading-l">
        Worker data for this establishment
      </h2>

    </div>

    <div class="govuk-grid-column-one-half">

      <p>
        <a href="dashboard">
          <img src="https://farm2.staticflickr.com/1827/28451595617_997e2a9f6e_o.png" style="width: 100%; padding:5px 10px 25px 5px; border-right: 1px solid grey;">
        </a>
      </p>

      <hr>

      <p>
        <a href="dashboard">
          <img src="https://farm1.staticflickr.com/844/29450670688_a8ee6cbab6_o.png" style="width: 75%; padding:5px 55px 5px 75px; border-right: 1px solid grey;">
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-half">

      <p>
        <a href="dashboard">
          <img src="https://farm1.staticflickr.com/921/43271160362_762401f20c_o.png" alt="Your pay rate" style="width: 80%; padding:5px;">
        </a>
      </p>

      <hr>

      <p>
        <a href="add-another">
          <img src="https://farm1.staticflickr.com/834/43251286182_376c6ffc84_b.jpg" alt="add another" style="width: 35%; padding:60px 20px 20px 105px">
        </a>
      </p>

    </div>


    </div>
  </div>
{% endblock %}
