{% extends "layout.html" %}

{% block pageTitle %}
  Your account
{% endblock %}

{% from 'header/macro.njk' import govukHeader %}

{% block header %}
{{ govukHeader({
    "homepageUrl": "/",
    "serviceName": "Data visualisation",
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "navigation": [
        {
        "href": "your-account",
        "text": "Your account",
        "active": true
        },
        {
        "href": "establishment-page",
        "text": "Your establishment"
        },
        {
        "href": "dashboard",
        "text": "Your dashboards"
        }
    ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "../index",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Your account
      </h1>

        <p>Welcome to your account page.</p>

        <p><a href="/">Edit your account details</a></p>

      <h2 class="govuk-heading-l">
        Your organisation
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"><a href="establishment-page">Super Care Homes</a></td>
            <td class="govuk-table__cell" scope="row">Care home with nursing</td>
            <td class="govuk-table__cell" scope="row"><a href="/records/workers/worker-123">Edit</a></td>
          </tr>
        </tbody>
      </table>

      <p>
        <a href="#">Add another</a>
      </p>

      <h2 class="govuk-heading-l">
        Your data
      </h2>

      <p><a href="#">View and export basic dashboards</a></p>
      <p><a href="#">View data about your organisation</a></p>
      <p><a href="#">Fancy data tools</a></p>

    </div>
  </div>
{% endblock %}
