{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        NMDS prototypes
      </h1>
      <p>
        This is the 'Add an account' prototype for NMDS.
      </p>

      <a href="route-1/sign-in" role="button" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">Previous versions</h2>

      <h2 class="govuk-heading-m">User feedback</h2>

      <p>These are duplicates of the prototypes with user feedback displayed.</p>

    </div>
</div>

{% endblock %}
