{% extends "layout.html" %}

{% block pageTitle %}
  NDMS-SC prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        NMDS prototypes
      </h1>
      <p>
        This is the prototype for NMDS.
      </p>

      <a href="create-establishment/route-2/sign-in" role="button" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">Previous versions</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://sfc-worker.herokuapp.com/">Add a worker record</a></li>
          <li><a href="create-establishment/account-start-page">Create an account/establishment</a></li>
          <li><a href="data-vis/your-account">Data visualisation</a></li>
        </ul>

      <h2 class="govuk-heading-m">User feedback</h2>

        <p>These are duplicates of the prototypes with user feedback displayed.</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://sfc-worker.herokuapp.com/prototype-feedback/add-new-worker">Add a worker user feedback</a></li>
          <li><a href="establishment-feedback/account-start-page">Create an account/establishment feedback</a></li>
        </ul>

      <h2 class="govuk-heading-m">Untested designs</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="create-establishment/choose-establishment-type/your-account">Add establishment by type</a></li>
          <li><a href="create-establishment/account-establishment-type/add-details">Choose establishment type after creating account</a></li>
        </ul>

    </div>
</div>

{% endblock %}
